// Place all the styles related to the api::friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-of-friends-you-follow {
  background: lightcyan;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.friends {
  font-weight: bold;
}

.per-friend{
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding-right: 5%;
  padding-left: 5%;
  border: solid 2px lightgrey;
  border-radius: 10px;
  
}

.friend-button {
  background-color: lightgrey;
  padding: 5px;
}