// Place all the styles related to the api::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//new post form
.wall {
  background: rgb(250, 213, 219);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}
.mid-column {
  border-radius: 10px;
  background: lightyellow;
  width: 570px;
  min-height: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.new-post-form {
  background: lightgreen;
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
}
 
.button-post {
  // padding: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  
  // text-align: center;
  // display:table-cell;
  // vertical-align: middle;
}
.button-edit-post {
  padding: 15px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  // padding-right: 10px;
  
  // text-align: center;
  // display:table-cell;
  // vertical-align:middle;
  // flex-direction: row;
  a {
    margin-right: 10px;
  }
}
.each-posts {
  margin-top: 5px;
  background-color: lightsteelblue;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
}

.author-name {
 font-weight: bold; 
}
