// Place all the styles related to the api::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//new post form
.wall { 
  background-color: var(--web-wash);
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
}

//right column
.right-sidebar-column {
  padding: 10px;
  font-size: 25px;

  
  h2 {
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    border-bottom: solid 2px  rgb(0, 217, 255);
    margin-bottom: 15px;
  }
  
  .index-each-user {
    border-radius: 5px;
    padding: 8px;
    margin: 8px;
    color: rgba(0, 0, 0, 0.8);
  }
  .index-each-user:hover {
    background: rgb(212, 230, 248);
  }
}

//mid column
.mid-column {
  border-radius: 10px;
  width: 570px;
  min-height: 1000px;
  padding: 10px;
  
}

.new-post-form {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  max-width: 570px;


  
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  h3 {
    margin-top: 0px;
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    border-bottom: lightgrey solid 1px;
  }
  input {
    margin: 5px;
    width: 90%;
    font-size: 20px;
  }
  
  .button-post {
    background: rgba(174, 192, 224, 0.719);
    color:gray;
    margin-top: 5px;
    border-radius: 10px;
    padding: 8px;
    font-weight: bold;
    font-size: 15px;
    width: 80%;
    text-align: center;
  }
  .button-post:hover {
    background: rgba(153, 190, 255, 0.719);
  }
}
  
.each-posts {
  background: #fff;
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
  color: rgba(0, 0, 0, 0.8);
  min-height: 40px;
  min-width: 200px;
  font-size: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  .post-name-icon{
    display: flex;
    flex-direction: row;
    align-items: center;

    .author-name {
      font-size: 18px;
    }

    .posted-at{
      font-size: 12px;
      color: #65676B;
    }
  }
    
    .post-prof-icon {
      height: 40px;
      width: 40px;
      margin-right: 10px;
      img {
        border-radius: 50%;
      }
      .post-default-icon {
        background-image: asset-url('default.png');
        height: 40px;
        width: 40px;
        background-size: contain;
        border-radius: 50%;
      }
    } 

  .body {
    text-align: center;
    padding: 4px 16px 16px;  
  }

  .comment-container {
    border-top: solid 1px lightgrey;
    padding-top: 5px;
  }
  
}

.button-edit-post {
  width: auto;
  color:gray;
  margin-top: 5px;
  font-weight:bolder;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  border-top: solid 1px lightgrey;

  a, button {
    padding: 10px;
  }

  .far {
    padding-right: 10px;
  }

  .edt-btn:hover, button:hover {
    color: rgba(138, 152, 179, 0.719);
  }
 
}


//left column
.left-sidebar-colum {
  padding: 10px;
  color: rgba(0, 0, 0, 0.8);


  div {
    margin: 8px;
    border-radius: 5px;
  }
  div:hover {
    background: rgb(212, 230, 248);
  }
  .list {
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
  }

  .fa-portrait {
    color: rgb(0, 255, 242);
  }
  .fa-code-branch{
    color: rgb(0, 225, 255);
  }
  .fa-github{
    color: rgb(0, 217, 255);
  }
  .fa-user-friends{
    color: rgb(0, 183, 255);
  }
}

.edit-post-page {
  display: flex;
  justify-content: center;
}
.update-container{
  margin-top: 50px;
  min-width: 550px;
}