// Place all the styles related to the api::sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



 
 /* session-form */
 .login-form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 2px #cecccc;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 375px;
    // height: 350px;
    font: 400 13.3333px Arial;
  }
  
  .login-form-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  button {
    padding: 15px;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
  }
  
  
  .header-for-form {
    background: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    height: 500px;
  }
  
  
  .splash-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
    font-family: 'Roboto', sans-serif;
  }
  .splash-logo {
    letter-spacing: -2px;
    color: #1877f2;
    font-size: 60px;
    font-weight: 750;
    margin-bottom: 18px;
    font-family: 'Roboto', sans-serif;
  }
  .splash-title {
    font-size: 24px;
    font-weight: normal;
  }
  
  
  // html
  .login-input {
    border: 1px solid #cecccc;
    padding: 15px;
    margin-bottom: 10px;
    outline: none;
    border-radius: 5px;
  
  }
  .session-submit, .demo-button {
    background: #1877f2;
    color: #fff;
    font-weight: bold;
    outline: none;
    margin: 0px 0px 10px 0px;
  }
  .demo-button {
    width: 100%;
  }
  .button-create {
    color: #fff;
    background: #42b72a;
    width: 200px;
    margin-top: 10px;
    outline: none;
  }
  
  .header-button{
    color: black;
    background: lightblue;
  }
  
  .demo-button:hover, .session-submit:hover {
    background: #1872e7;
  }
  .button-create:hover {
    background: #3da828;
  }

  .signup-border, .border {
    border-top: 1px solid #cecccc;
    width: 100%;
  }

  // footer
.footer-copyright {
  display: flex;
  justify-content: flex-start;
  font-family: 'Roboto', sans-serif;
  color: gray;
} 

.footer-copyright p {
  padding-right: 5px;
  
}
  
  .githubcat{
    background-image: asset-url('gitbubicon.png');
    height: 16px;
    width: 16px;
  }