.profile-page {
  background: lightblue;
  font-family: 'Roboto', sans-serif;
  height: auto;
}
//header
.profile-header-container {
  background-image: linear-gradient(rgb(136, 165, 175), lightblue, #fff);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.cover-img {
  height: 350px;
  width: 960px;
  border-radius: 10px;
  background-image: asset-url('cover8.jpg');
  background-size: contain;
  position: relative;
  margin-bottom: 80px;
}


.profile-img {
  background: rgb(224, 240, 167);
  background-image: asset-url('default.png');
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: solid 4px #fff;
  position: absolute;
  top: 35%;
}

.profile-page .username {
  text-align: center;
  font-size: 40px;
  height: 78px;
  width: 940px;
  border-bottom: solid 4px rgb(171, 196, 207);
}

.profile-links-container {
  width: 1000px;
  height: 60px;
  display: flex;
}
.p-container {
  display: flex;
  align-items: center;
  width: 83%;
  margin-left: 90px;
  p:hover {
    cursor: pointer;
    color: rgba(138, 152, 179, 0.719);
  }
}
.profile-links-container p {
  padding-right: 10px;
  margin: 5px;
  font-size: 25px;
  color: gray;
  text-align: center;
  text-align: center;
  
}
.fb-container {
  order: 3;
  display: flex;
  align-items: center;
  
  .friend-button {
    background: #1877f2;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    align-items: flex-end;
  }
  .friend-button:hover {
    background: #2784ff;
  }
}


//body
.profile-body {
  background: #f0f2f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
  position: relative;
  padding-bottom: 40px;
}

.left-body {
  padding: 16px;
  margin: 40px;
  width: 360px;
  
  // friends
  h1 {
    margin: 10px 10px 15px;
  }
}
  
  .render-about{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background: #fff;
    width: 360px;
    min-height: 100px;
    border-radius: 10px;
    padding: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
    .p {
      font-size: 20px;
      margin: 20px 10px;
      color: rgb(65, 65, 65);
    }

    .intro-fab {
      margin-right: 10px;
      color: rgb(141, 141, 141);
    }

    .intro {
      font-size: 20px;
      color: rgb(32, 32, 32);
      font-weight: bold;
      text-align: center;
      margin-bottom: 15px;
    }
    
    .profile-edit-button {
     font-weight: bold;
     border-radius: 5px;
     text-align: center;
     color: #fff;
     width: 100%; 
     background: rgb(147, 163, 180);
     font-size: 18px;
     padding: 5px;
    }
    .profile-edit-button:hover{
      background: rgb(169, 182, 197);
    }
  


.per-friend{
  padding: 0px;
  font-size: 20px;
  .per-fname {
    font-weight: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    color: #414141;;
    .far {
      margin-right: 10px;
      color: rgb(141, 141, 141);
    }
  }
  
}
  

.right-body {
  width: 500px;
  min-height: 400px;
  margin: 10px;
  border-radius: 10px;
  padding-top: 45px;
}

// modal
.renderpage {
position:absolute;
width: 100%;
height: 100%;
top: 5%;

  .modal-con {
    position: relative;
    width: 100%;
    height: 100%;
    top: -3%;
    display: flex;
    justify-content: center;
  }
  .mask {
    width: 100%;
    height: 100%;
    min-height: 900px;
    background: lightgray;
    opacity: 0.8;
  }
  
  .dropdown {
    position: absolute;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    padding: 16px;
    min-height: 400px;
    width: 600px;
    z-index: 2;
    top: 3%;
    display: flex;
    flex-direction: column;
    
    .modal-title {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin: 15px 12px 25px;
      color: rgb(128, 128, 128);
    }

    .profile-edit-button {
      margin-top: 10px;
      width: auto;
      padding: 10px 15px;
    }

  }
  
}