/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* PHASE 0: Reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


 
 /* session-form */
 .login-form-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px 2px #cecccc;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 375px;
  height: 350px;
}

.login-form-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
button,
input[type="submit"] {
  cursor: pointer;
}

button {
  padding: 15px;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

.header-for-form {
  background: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  height: 500px;
}


.splash-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
}

.login-input {
  border: 1px solid #cecccc;
  padding: 15px;
  margin-bottom: 10px;
  outline: none;
}
.session-submit, .demo-button {
  background: #1877f2;
  color: #fff;
  font-weight: bold;
  outline: none;
}