
.header-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: rgb(136, 165, 175);
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 600;

    .fa-code-branch{
        color: rgb(0, 225, 255);
        font-size: 33px;
    }
    .fa-github{
        color: rgb(0, 255, 221);
        font-size: 33px;
    }

    h2 {
        color: rgb(0, 255, 242);
        padding: 10px;
        display: flex;
        margin: 5px;

    }
}
.header-logo {
    color: #fff;
    padding: 10px;
    display: flex;
    margin: 5px;
}

.header-name {
    color: #fff;
    padding: 15px;;
}

.header-logout-button {
    padding: 10px;
    border: none;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}
